form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  input {
    height: 45px;
    width: 600px;
    border-radius: 6px;
    border: none;
    padding: 1rem;
  
    &:focus {
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
    }
  }
  
  .btnSearch {
    height: 45px;
    width: 100px;
    border-radius: 6px;
    background: #1c1c1c;
    border: none;
    color: #fff;
    cursor: pointer;
  
    &:hover {
      background: #000;
      transition: background 0.2s;
    }
  }